<!-- list of categories -->
{{#if user}}
<div class="row">

    <div class="col s12 m4 l3 left">
        <h3 class="left">Categories</h3>
        <div class="catSection categories left">
            <!-- handlbars to fill this section out -->
            <ul>
                <li>
                    <button class="btn waves-effect waves-light all">all</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light bread">bread</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light beverages">beverages</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light canned-goods">canned-goods</button>
                </li>
                <li>
                    <button
                        class="categoryBtn btn waves-effect waves-light condiments-spices">condiments-spices</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light dairy">dairy</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light frozen-foods">frozen-foods</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light meat-seafood">meat-seafood</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light produce">produce</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light snacks">snacks</button>
                </li>
                <li>
                    <button class="categoryBtn btn waves-effect waves-light other">other</button>
                </li>
            </ul>
        </div>
        <h3 class="left">Search for Recipes</h3>
        <div class="searchSection left">
            <button id="search" class="btn waves-effect waves-light">Search</button>
        </div>
    </div>

    <div class="col s12 m8 l9 right">

        {{!-- list of ingredients that user added --}}
        <h3 class="center">My Ingredients</h3>
        <div class="row ing-container">
            {{#each ingredients}}
            {{#if isMine}}
            <div class="col s12 m4 l3">
                <div class="card {{category}}">
                    <div class="card-content white-text">
                        <p class="card-title">{{name}}</p>
                        <p class="light-text">{{category}}</p>
                        <p class="right">exp: {{expiration}}</p>
                    </div>
                    <div class="card-action">
                        <button class=" btn waves-effect waves-light btn-flat" id="update"><i
                                class="material-icons">create</i></button>
                        <button class="delete btn waves-effect waves-light btn-flat" data-id="{{this.id}}"><i
                                class="material-icons">delete</i></button>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>

    </div>

    <div class="col s12 right">

        {{!-- list of ingredients that user added --}}
        <h3 class="center">Recipes</h3>

        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">

                <div id="recipeCard" class="card">
                    <div class="card-action">
                        <p id="recipeTitle" class="card-title">Recipe Title</p>
                        <p id="recipeUrl" class="light-text">URL</p>
                        <p id="recipeSum"></p>
                        <p id="recipeInst"></p>
                        <ul id="ingredientList">
                            <li class="recipeIngr">Ingredients</li>
                        </ul>
                        <button id="save" class="delete btn waves-effect waves-light btn-flat">
                            <i class="material-icons">save</i></button>
                    </div>
                </div>

            </div>
            <div class="col s1"></div>
        </div>

    </div>
</div>
{{/if}}