<!-- list of categories -->
{{#if user}}
<div class="row">



    <div class="row groceries center">

        <div class="col s12 right">
            {{!-- list of ingredients that user added --}}
            <div class="row">
                <span class="letter" style="color:#FF0000">M</span>
                <span class="letter" style="color:#228B22">Y</span>
                <span class="letter" style="color:#9932CC">-</span>
                <span class="letter" style="color:#FFFF00">G</span>
                <span class="letter" style="color:#FFA500">R</span>
                <span class="letter" style="color:#00BFFF">O</span>
                <span class="letter" style="color:#FF0000">C</span>
                <span class="letter" style="color:#228B22">E</span>
                <span class="letter" style="color:#FFA500">R</span>
                <span class="letter" style="color:#FF0000">I</span>
                <span class="letter" style="color:#9932CC">E</span>
                <span class="letter" style="color:#00BFFF">S</span>
            </div>
        </div>

        <div class="container center">
            <div class="row">
                <div class="col s12 container center">
                    <div class="catSection categories center">
                        <button class="categoryBtn btn waves-effect waves-light">all</button>
                        <button class="categoryBtn btn waves-effect waves-light">bread</button>
                        <button class="categoryBtn btn waves-effect waves-light">beverages</button>
                        <button class="categoryBtn btn waves-effect waves-light">canned-goods</button>
                        <button class="categoryBtn btn waves-effect waves-light">condiments-spices</button>
                    </div>
                    <br>
                    <div class="catSection categories center">
                        <button class="categoryBtn btn waves-effect waves-light">frozen-foods</button>
                        <button class="categoryBtn btn waves-effect waves-light">meat-seafood</button>
                        <button class="categoryBtn btn waves-effect waves-light">produce</button>
                        <button class="categoryBtn btn waves-effect waves-light">snacks</button>
                        <button class="categoryBtn btn waves-effect waves-light">dairy</button>
                        <button class="categoryBtn btn waves-effect waves-light">other</button>
                    </div>
                </div>
            </div>
            {{!-- <h3 class="center">My Groceries</h3> --}}
            <div class="row ing-container">
                {{#each ingredients}}
                {{#if isMine}}
                <div class="col s12 m6 l4">
                    <div class="card horizontal {{category}}">
                        <div class="card-stacked">
                            {{!-- <div class="card-content">

                            </div> --}}
                            <div class="card-content">
                                <h5>{{name}}</h6>
                                    <p>Exp: {{expiration}}</p>
                                    <br>
                                    <p>Category: {{category}}</p>
                            </div>
                            <div class="card-action">
                                <label>
                                    <input type="checkbox" value={{name}} name="food" />
                                    <span id="searchSpan">Click to add to search!</span>
                                </label>
                            </div>
                            <div class="card-action">
                                <button class="update btn waves-effect waves-light btn-flat" data-id="{{this.id}}"><i
                                        class="material-icons">create</i></button>
                                <button class="delete btn waves-effect waves-light btn-flat" data-id="{{this.id}}"><i
                                        class="material-icons">delete</i></button>
                            </div>
                        </div>
                    </div>
                </div>

                {{/if}}
                {{/each}}
            </div>

        </div>
    </div>


    <div class="row groceries">
        <div class="row">
            <div class="col s12">
                <div class="center row">
                    <span class="letter" style="color:#9932CC">R</span>
                    <span class="letter" style="color:#FFFF00">E</span>
                    <span class="letter" style="color:#FF0000">C</span>
                    <span class="letter" style="color:#228B22">I</span>
                    <span class="letter" style="color:#00BFFF">P</span>
                    <span class="letter" style="color:#9932CC">E</span>
                    <span class="letter" style="color:#FFA500">S</span>
                </div>
            </div>
        </div>

        <div id="recBtn" class="center">
            <button id="search" class="btn waves-effect waves-light"> Search with your Ingredients </button>
        </div>

        <div id="recBtn" class="center">
            <button id="searchName" class="btn waves-effect waves-light">Search</button>

            <div class="input-field inline center">
            <input id="text_inline" type="text" class="validate">
        </div>
        </div>

        <div class="container center row">
            <div class="col s1 m2 l3"></div>
            <div class="col s10 m8 l6" id="recipe-area">
            </div>
            <div class="col s1 m2 l3"></div>
        </div>

    </div>

    <footer>
        <div class="row container center">
            <div class="col s12">
                <p>&copy;Check It Out</p>
            </div>
        </div>

    </footer>

</div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h2 class="center">Saved Recipe!</h2>
        <p class="center">Find your saved recipes in the 'recipes' tab above.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect btn-flat">Ok</a>
    </div>
</div>

{{/if}}