<!-- <h1>Ingredients</h1>
{{#each ingredients}}
<h3>{{name}}</h3>
<p>Expiration: {{expiration}}</p>
<p>Category: {{category}}</p>
{{#if isMine}}
<button>Update</button>
<button>Delete</button>
{{/if}}
{{/each}} -->

<!-- list of categories -->
<div class="categories">
    <!-- handlbars to fill this section out -->
    <ul>
        <li>
            <button class="categoryBtn">all</button>
        </li>
        <li>
            <button class="categoryBtn">bread and bakery</button>
        </li>
        <li>
            <button class="categoryBtn">beverages</button>
        </li>
        <li>
            <button class="categoryBtn">canned goods</button>
        </li>
        <li>
            <button class="categoryBtn">condiments and spices</button>
        </li>
        <li>
            <button class="categoryBtn">dairy</button>
        </li>
        <li>
            <button class="categoryBtn">frozen foods</button>
        </li>
        <li>
            <button class="categoryBtn">meat and seafood</button>
        </li>
        <li>
            <button class="categoryBtn">produce</button>
        </li>
        <li>
            <button class="categoryBtn">snacks</button>
        </li>
        <li>
            <button class="categoryBtn">other</button>
        </li>
    </ul>
</div>
<!-- list of ingredients that user added -->
<div class="ingredients">
    <h3>my ingredients</h3>
    {{#each ingredients}}
    <h3>{{name}}</h3>
    <p>Expiration: {{expiration}}</p>
    <p>Category: {{category}}</p>
    {{#if isMine}}
        <button id="delete" data-id="{{this.id}}">Delete</button>
        <button id="update">Update</button>
    {{/if}}
    {{/each}}
</div>
