<h2>recipes</h2>

{{#each recipes}}
{{#if isMine}}
<h4>{{title}}</h4>
<p>You can find this recipe at: {{url}}</p>
<p>{{summary}}</p>
<p>Instruction: {{instructions}}</p>
<p>Ingredients: {{ingredients}}</p>
{{/if}}
{{/each}}



